/* =============================================================================
Global Styles
================================================================================ */
body{
    color: #343434;
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    background: #f8f6f6;
}

header h1{
    font-size: 3.5em;
    text-align: center;
}

/* h1{
    font-size: 2.5em;
    margin: 1em 0;
} */

h2{
    margin: 0;
}

h1, h2{
    font-family: 'Source Serif Pro', serif;
}

h3{
    margin-bottom: 0;
}
h3 + p{
    font-style: italic;
}
h3 ~ p{
    margin: 0;
}

p{
    width: -moz-fit-content;
    width: fit-content;
}

a{
    text-decoration: none;
    color: #dd3265;
}
a:hover{
    text-decoration: underline;
    color: #dd3265;
}
a:visited{
    text-decoration: none;
    color: #dd3265;
}

/**
* center_fit class intends to center pictures within their grid
*/
.center_fit{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

/**
* header_image class to restrict the maximum size of the image relative to the users'
* screens.
*/
.header_image{
    margin: 0;
    padding: 0;
    display: grid;
    height: 60%;
}
.header_image .center_fit{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
} 


/**
* content_wrap class is to manage padding and margins of different sections that go 
* after one another.
*/
.content_wrap{
    width: 50em;
    margin: 0 auto;
    padding: 0.5em 0;
}

.caption{
    margin: 0;
    padding: 0;
}
/* =============================================================================
Navigation panel
================================================================================ */
.navigation{
    background: #ededed;
}
.navigation .panel{
    padding: 0.5em;
    margin:auto;
    /* height: 1.5em; */
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.navigation li{
    text-align: center;
    vertical-align: middle;
}
.navigation img{
    height:2rem;
}
.navigation .btn{
    text-decoration: none;
    vertical-align: middle;
    color: #fb467c;
}
.navigation .btn:hover{
    text-decoration: underline;
    color: #dd3265;
}
.navigation .btn:visited{
    text-decoration: none;
    color: #fb467c;
}
/* =============================================================================
Slideshow styles
================================================================================ */
.gallery{
    /* to show the whole iframe */
    overflow: hidden; 
    overflow-x: hidden;
    overflow-y: hidden;
    position:fixed;

    /* to center the iframe */
    margin: auto; 
    display: block;
    top: 10rem;
    left: 0px;
    right: 0px;
    bottom: 0px;

    /* to specify maximum size */
    width: 50%; 
    height: 77%;

    /* to modify border characteristics */
    border-width: 0px;
}

.slideshow{
    position: relative;
    box-sizing: border-box;
    background: #141414;
}

.slide{
    display: none;
    box-sizing: border-box;
}
.slide img{
    height: 25.5em;
    display: block;
    margin: auto;
}

.cursor{
    cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 1rem;
  margin-top: -1rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px; /*change to relative sizes later!!*/
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slide_caption {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
 /* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}
  
/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    max-height: 4.0rem;
}
  
.active,
.demo:hover {
    opacity: 1;
}

/* =============================================================================
Group members page
================================================================================ */
.member{
    margin: 2em 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    row-gap: 0.5em;
}

.member_picture{
    display: flex;
}
.member_picture img{
    height: 12rem;
}

.member_details p{
    text-align: justify;
    padding: 0 0.8em;
}

.past_members_list{
    background: #e2e1e1;
}
.past_member{
    margin:1.5em 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    row-gap: 0.5em;
}
.past_member_details p{
    text-align: justify;
    padding: 0 0.5em;
}
.past_member_picture img{
    height: 6rem;
}

.recruiting{
    padding-top: 4em;
    padding-bottom: 4em;
}
.recruiting h2{
    font-size: 2.5em;
    text-align: center;
}

/* =============================================================================
Research page
================================================================================ */
.research_description p{
    text-align: justify;
}

/* =============================================================================
Contact page
================================================================================ */
.contact_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact_info ul{
    list-style-type: none;
    font-size: 1.2em;
}

#map{
    height: 5em;
    width: 100%;
}

/* =============================================================================
Blogpost page
================================================================================ */
/* .search_bar{
    text-align: center;
} */
/* Logic to toggle on and off the years available for news */
.year_selector p{
    text-align: center;
}
.year_2023{
    display: none;
}
.year_2023.active{
    display: block;
}
.year_2022{
    display: none;
}
.year_2022.active{
    display: block;
}

.blogpost{
    background: #f7f7f7;
}
.blogpost .content_title{
    background-color: #222;
    color: #dd3265;
}
.blogpost h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0%;
}
.blogpost h3{
    margin-top: 0%;
}
.blogpost p{
    /* margin-block-end: 0%; */
    margin-top: 0%;
    margin-bottom: 1rem;
}
.blogpost a{
    color: #6b102b;
}
.blogpost em{
    color: #99133b;
}
.blogpost .month{
    border-style:ridge;
}